$white: #ffffffb3;
$primary: #ffc500e6;
$secondary: hsl(323, 62%, 91%);
$background: #333644;
$red: #ff0000;
$error: #c40c3a;
$green: #00c920;
$orange: #ffb800;
$black: #000000;
$gray100: #f2f2f2;
$gray200: #c7c7c7;
